.layout{
    width : 500px;
    margin : 0 auto;
    margin-top : 40px;
}

.layout h2 {
}
.layout p{
    width : 100%;
    margin-top : 10px;
    min-height : 300px;

}

.layout button{
     margin-left:15px;
}
.btn-primary {
    background-color: #7bc143;
    border-color: #7bc143;
    color: #FFF;
}

.oneLine{
    display:inline;
}

.layout ta {
    margin-left:370px;
}