<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<meta charset="UTF-8">
<title>게시물 작성폼</title>
<style>
        .layout{
            width : 500px;
            margin : 0 auto;
            margin-top : 40px;
        }

        .layout input {
            width : 100%;

        }

        .layout textarea{
            width : 100%;
            margin-top : 10px;
            min-height : 300px;
        }

        .layout ta {
            margin-left:370px;
       }

</style>

<body>
<div class="layout">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="@{/board/modify/{id}(id = ${board.id})}" method="post">
        <input style="font-size:33px; border:none" name="title" type="text" th:value="${board.title}">
        <hr/>

        <textarea style="border:none" name="context" th:text="${board.context}"></textarea>
        <button type="submit" style="float:right;" class="btn btn-primary">수정</button>
    </form>

</div>
</body>
</html>