<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<link href="/css/board/boardModify.css" rel="stylesheet">
<meta charset="UTF-8">
<title>게시물 작성폼</title>
<body>
<div class="layout">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="@{/board/modify/{id}(id = ${board.id})}" method="post">
        <input style="font-size:33px; border:none" name="title" type="text" th:value="${board.title}">
        <hr/>

        <textarea style="border:none" name="context" th:text="${board.context}"></textarea>
        <button type="submit" style="float:right;" class="btn btn-primary">수정</button>
    </form>

</div>
</body>
</html>