<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<link href="/css/board/boardList.css" rel="stylesheet">
<link href="/css/button.css" rel="stylesheet">
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <!--  로그인한 상태라면 이름과, logout 버튼 출력      -->

    <div th:if="${#authorization.expr('isAuthenticated()')}">
        <form th:action="@{/logout}" method="get" style="float:right;">
            <button type="submit " class="button">로그아웃</button>
        </form>

    </div>
    <!--  로그인한 상태가 아니라면 login 버튼 출력  -->
    <div th:unless="${#authorization.expr('isAuthenticated()')}">
        <form th:action="@{/login}" method="get" style="float:right;">
            <button type="submit" class="button">로그인</button>
        </form>
    </div>


    <form th:action="@{/board/list}" method="get">
        <input type="text" name="titleSearch" placeholder="제목를 검색해주세요">
        <button type="submit">검색</button>

    </form>
    <br/>
    <br/>
    <div>
        <table class="table table-striped">

            <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="board : ${boards}">
                <td>
                    <a th:text="${board.title}" th:href="@{/board/Detail(id=${board.id})}"></a>
                </td>
                <!--  <td th:text="${#authentication.name}"></td> -->
                <td th:text="${board.user.nickname}"></td>
                <td th:text="${#dates.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>

            </tbody>
        </table>

        <form th:action="@{/board}" method="get">
            <button type="submit" class="btn btn-primary" style="float:right;">글쓰기</button>
        </form>

        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}"
               th:href="@{/board/list(page = ${page - 1}, titleSearch = ${param.titleSearch})}"
               th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color: red"></strong>
        </th:block>

    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>
