<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">

            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="board : ${list}">
                <td th:text="${board.id}"></td>
                <td>
                    <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                </td>
                <td th:text="${board.email}"></td>
            </tr>
            </tbody>
        </table>
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}"
               th:href="@{/board/list(page = ${page -1}, searchKeyword = ${param.searchKeyword})}"
               th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color: red"></strong>
        </th:block>
        <form th:action="@{/board/list}" method="get">
            <input type="text" name="searchKeyword">
            <button type="submit">검색</button>

        </form>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>`