<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<meta charset="UTF-8">
<title>게시물 작성폼</title>
<style>
        .layout{
            width : 500px;
            margin : 0 auto;
            margin-top : 40px;
        }
         .layout p, pre{
            border: 1px solid #444444;


        }
        .layout input {
            width : 100%;
            box-sizing : border-box
        }

        .layout textarea{
            width : 100%;
            margin-top : 10px;
            min-height : 300px;
        }

</style>

<body>
<div class="layout">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="@{/board/modify/{id}(id = ${board.id})}" method="post">
        <th>제목</th>
        <input name="title" type="text" th:value="${board.title}">

        <th>내용</th>
        <textarea name="context" th:text="${board.context}"></textarea>
        <button type="submit" style="float:right;">수정</button>
    </form>

</div>
</body>
</html>