<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
</head>
<body>
<div class="container">
    <form action="/logout" method="get" style="float: right;">
        <button>로그아웃</button>
    </form>
    <form action="/loginForm" method="get" style="float: right;">
        <button>로그인</button>
    </form>
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="jumbotron">
        <h1>Hello Board</h1>

        <a class="btn btn-lg btn-secondary" href="/board">게시판</a>
        <a class="btn btn-lg btn-secondary" href="/board/list">게시판 목록</a>
        </p>

    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>