<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
</head>
<body>
<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">

        <a class="btn btn-lg btn-secondary" href="/board/list">게시판 목록</a>
        </p>

    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>

