<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>

<style>
         .fieldError {
            border-color: #bd2130;
         }

         #sform {
            text-align: center;
         }


</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div id="sform">
        <hr/>
        <form class="form-inline center"  onsubmit="emailCheck();" action="/join" method="POST">

            <input type="email" name="email" id="UserEmail" class="focus-email"   value="" placeholder="이메일 작성"/><br/>
            <span id="Email_div" style="color:red;" >올바른 이메일 형식이 아닙니다.</span><br/>
            <label onclick="document.getElementById('focus-email').focus()"></label>
            </br>

            <input type="text" name="nickname" id="UserNickName"  class="focus-nickname" value="" placeholder="닉네임 작성"/><br/>
            <span id="Nickname_div"  style="color:red;">올바른 닉네임 형식이 아닙니다.</span><br/>
            <label onclick="document.getElementById('focus-nickname').focus()"></label>
            </br>

            <input type="password" name="password" id="UserPw" class="focus-password" value="" placeholder="비밀번호 작성"/><br/>
            <span id="Password_div"  style="color:red;">올바른 비밀번호 형식이 아닙니다.</span><br/>
            <label onclick="document.getElementById('focus-password').focus()"></label>
            </br>

            <input type="password" name="RePassword" id="UserRePw" class="focus-repassword" value="" placeholder="비밀번호 재확인"/><br/>
            <span id="RePassword_div"  style="color:red;">올바른 비밀번호 형식이 아닙니다.</span><br/>
            <label onclick="document.getElementById('focus-repassword').focus()"></label>
            </br>

            <button class="btn btn-primary" id="JoinBtn"  >회원가입</button>

        </form>
    </div>


    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="/js/UserJoin.js"></script>


