<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"/>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="/css/user/joinForm.css" rel="stylesheet">
    <body>
        <div class="container">
            <div th:replace="fragments/bodyHeader :: bodyHeader"/>
            <div id="sform">
                <hr/>
                <br/>

                    <!--이메일 작성-->
                    <input type="email" name="email" id="userEmail" class="input" value=""
                           placeholder="이메일을 입력해주세요." autocomplete="off"/> <br/>
                    <span id="EmailValidateMsg" style="display:none; color:red;" ></span><br/>

                    </br>
                    <!--닉네임 작성-->
                    <input type="text" name="nickname" id="userNickName"  class="input" value=""
                           placeholder="닉네임을 입력해주세요." autocomplete="off" /> <br/>
                    <span id="nicknameValidateMsg"  style="display:none; color:red;"></span><br/>

                    </br>
                    <!--패스워드 작성-->
                    <input type="password" name="password" id="userPassword" class="input" value=""
                           placeholder="패스워드를 입력해주세요."/><br/>
                    <span id="passwordValidateMsg"  style="display:none; color:red;"></span><br/>

                    </br>
                    <!--패스워드 확인-->
                    <input type="password" name="RePassword" id="userRePassword" class="input" value=""
                           placeholder="패스워드를 다시 입력해주세요."/><br/>
                    <span id="rePasswordValidateMsg"  style="display:none; color:red;"></span><br/>

                    <br/>

                    <!--이용약관 동의-->
                    <div>
                        <input type="checkbox" class="checkbox" name="isAgreeAllTerms" id="chkAgreeAllTerms">
                        <label for="chkAgreeAllTerms">전체 선택</label>
                    </div>
                    <br/>
                    <div>
                        <input type="checkbox" class="checkbox" name="isAgreePrivacyTerms" id="chkAgreePrivacyTerms">
                        <label for="chkAgreePrivacyTerms">서비스 이용약관 동의 (필수)</label><br/>
                        <span id="termsValidateMsg" style="color:red;"></span>
                    </div>
                    <br/>
                    <div>
                        <input type="checkbox" class="checkbox" name="isAgreeMarketingTerms" id="chkAgreeMarketingTerms">
                        <label for="chkAgreeMarketingTerms">프로모션 정보 수신 동의 (선택)</label>
                    </div>
                    <br/>
                    <br/>
                    <br/>

                    <!--회원가입-->
                    <button type="button" class="button" id="btnSubmit">가입하기</button>

            </div>

            <div th:replace="fragments/footer :: footer"/>
        </div>
    </body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/joinForm.js"></script>


