<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
    <h1>Security Board</h1>
    </br>
    </br>
</head>
<style>
    h1{
        text-align: center;
    }
    #sform {
        text-align: center;
    }


</style>
<body>
<div class="container">
    <div id="sform">


        <!--Security가 action login을 낚아 채서 화면을 보여준다. -->

        <form class="form-inline center" action="/login" method="POST">
            <input class="form-control" type="text" name="username" id="LoginId" value="" placeholder="이메일을 입력해주세요"/><br/>
            <input class="form-control" type="password" name="password" id="LoginPassword" value="" placeholder="비밀번호을 입력해주세요"/><br/>
            <button  class="btn btn-primary" id="LoginBtn">로그인</button>
        </form>
        <br/>
        <form class="form-inline center" action="/joinForm" method="POST">
            <button class="btn btn-primary">회원가입</button>
        </form>


    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</div>
</body>
</html>
<script src="/js/Login.js" ></script>