<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
    <h1>Hello Board</h1>
    </br>
    </br>
</head>

<body>
<div class="container">
    <div id="sform">
        <form class="form-inline center" action="/login" method="POST">
            <input class="form-control" type="email" name="username" id="userEmail" value="" autocomplete="off" placeholder="이메일을 입력해주세요."/>
            <br/>
            <span id="EmailValidateMsg" style="color:red;"></span><br/>

            <input class="form-control" type="password" name="password" id="userPassword" value="" maxlength="15" autocomplete="off" placeholder="비밀번호를 입력해주세요."/><br/>
            <span id="passwordValidateMsg" style="color:red;"></span><br/>

            <!-- 로그인 실패시 노출 (Security) -->
            <div th:if="${param.error}">
                <p th:text="${exception}" class="alert alert-danger"></p>
            </div>

            <br/>
            <button class="button" id="btnSubmit">로그인</button>
        </form>
        <br/>
        <button class="button join" onclick = "location.href='/joinForm'">회원가입</button>
    </div>
</div>
</body>
</html>

<link href="/css/user/loginForm.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/loginForm.js"></script>
<script src="/js/common.js"></script>